.product_detail_container{
    display: flex;
    flex-direction: row;
    max-width: 1536px;
    margin: auto;
    background-color: #fff;
    min-height: calc(100vh - 100px);
}


.product_detail_content__image__container{   
    flex-grow: 1.5;
    width:30%;
    position: relative;
    min-height: 600px;
}
.product_detail_content{
    flex-grow: 3;
    width:70%;
    overflow-y: scroll;
    height: 100vh;
}