.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color:#fff;
    display: flex;
    flex-direction: column-reverse;
    text-align: start;
}

.image{
    max-height: 600px;;
}

.overlay h1{
    margin: 0;
}

.content__header:hover{
   cursor: pointer;
    color: rgb(176, 68, 68);
}
.content__header{
    padding-left: 5%;
}

.owl-dot.active{
    background-color: red!important;
}