
section:not(.carousel__section,.homePage__section__Model){
    display: flex;
}
.homePage section:nth-of-type(odd){
    min-height: 200px;
    background-color: #000;
    color: #fff;
}

.homePage section:nth-of-type(even){
    min-height: 200px;
    background-color: #fff;
}
.homePage__section__1{
    min-height: none;
}

.homePage__section div{
    margin: auto;
}
.site_banner{
    background-color: #F4C430;
    height: 40px;
    display: flex;
    justify-content: center;
}
.site_banner h4{
    margin: 0;
    color: red;
    margin: auto;
}

.homePage__section__Model .homePage__section__Model___title{
    text-align: start;
    padding-left: 2%;
}

