.product{
    padding: 5px;
}

.card_img{
    height:180px;
    width: 150px;
    padding:5px;
}

.product_card__action{
    display: flex;
    flex-direction: column-reverse;
}

.product__productname{
    font-weight: 600;

}

.product__productname:hover{
    color: #1976d2;
    cursor: pointer;
}

.product__description__List{
    font-size: 10px;
}