.edit_product_form__root {
    text-align: left;
    padding: 10px 0px;
}

.form__row {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.form__row___control {
    width: 100%;
    padding: 10px;
}

.create_product_form_label {
    text-align: left;
    font-weight: bold;
    padding: 10px;
    color: #1976d2;
}