.homepagepanel_root {
    min-height: calc(95vh - 205px);
    width: 80%;
    margin: auto;
}

.admin_dashboard__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 25px;
    color:red;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #00000012;
}
.admin_dashboard__header__item{
    margin: auto 0;
    letter-spacing: 0px;
    color: #ED1C24;
    text-transform: uppercase;
}