.adminpanel_root {
    min-height: calc(100vh - 100px);
    /* background-color: #f5f5f7; */
}

.admin_panel__action__container {
    display: flex;
    flex-direction: row;
}

.admin_action {
    height: 200px;
    width: 200px;
    display: flex;
    border-radius: 5px;
    text-align: center;
    flex-basis: 50%;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    cursor: pointer;
    background-color: rgb(168 156 229);
}

.admin_action span {
    margin: auto;
}